<% include layouts/head %>

<header>
    <% include partials/nav %>
</header>

<div class="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <span class="banner__title">Hello! We are Loom Studio</span>
                        <br />
                        <span class="banner__desc">a creative media agency that believes in the power of creative
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider">
                        <div class="peppermint peppermint-inactive" id="peppermint">
                            <figure><img src="/images/slider.png" alt="" /></figure>

                            <figure><img src="/images/slide2.png" alt="" /></figure>

                            <figure><img src="/images/slide3.png" alt="" /></figure>
                        </div>
                        <div class="next"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                        <div class="prev"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doing__section wow slideInUp" data-wow-duration="2s">
        <a name="doing__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>what we do</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow slideInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/printer.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>print design</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow slideInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/tv.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>motion video</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow slideInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/gift.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>package design</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow slideInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/clock.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>time management</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="process__section">
        <a name="process__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span class="clr__light">our process</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 section__title__desc">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Integer posuere erat a ante venenatis
                        dapibus posuere velit aliquet. Maecenas sed diam eget risus varius
                        blandit sit amet non magna posuere velit aliquet.</span>
                </div>
            </div>
            <div class="row process__svg__chain">
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="chain__item">
                        <div class="process__svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 431.76 431.76" width="40" height="58">
                                <path
                                    d="M215.88 85.12C153.556 85.164 103.044 135.676 103 198a128.48 128.48 0 0 0 53.36 102.48V382c.027.932.216 1.853.56 2.72v.64c.138.33.299.651.48.96l28.16 41.92a7.999 7.999 0 0 0 6.64 3.52h46.56a7.999 7.999 0 0 0 6.64-3.52l28.16-41.92c.181-.309.342-.63.48-.96v-.64a8.005 8.005 0 0 0 .56-2.72v-81.52A128.477 128.477 0 0 0 327.96 198c-.042-62.013-50.069-112.397-112.08-112.88zM234.92 416h-38.08l-17.44-25.92h72.88L234.92 416zm-62.48-41.92v-21.2h86.88l.08 21.2h-86.96zM263 289.52v.24a7.998 7.998 0 0 0-3.6 6.72v40.64h-86.96V296a7.998 7.998 0 0 0-3.6-6.72 112.001 112.001 0 0 1-49.76-91.52c1.537-53.483 46.14-95.594 99.623-94.057 51.323 1.475 92.582 42.734 94.057 94.057A112 112 0 0 1 263 289.52z" />
                                <path
                                    d="M219.08 121.36a8 8 0 0 0 0 16c33.251.044 60.196 26.989 60.24 60.24a8 8 0 0 0 16 0c-.044-42.088-34.152-76.196-76.24-76.24zM81.48 189.6h-57.6a8 8 0 0 0 0 16h57.6a8 8 0 0 0 0-16zM407.88 189.6h-57.6a8 8 0 0 0 0 16h57.6a8 8 0 0 0 0-16zM127.313 287.12a8 8 0 0 0-12.153 0v-.16L74.28 328a8 8 0 1 0 11.28 11.28l40.88-40.88a8 8 0 0 0 .873-11.28zM356.607 56a8 8 0 0 0-10.407 0l-40.88 40.88a8 8 0 0 0 5.68 13.68l-.08-.08a8.004 8.004 0 0 0 5.68-2.32l40.88-40.88a8 8 0 0 0-.873-11.28zM359.067 329.609A7.96 7.96 0 0 0 357.48 328l-40.88-41.04a8 8 0 1 0-11.28 11.28l40.88 40.88a8 8 0 0 0 12.867-9.511zM126.44 96.88L85.56 56a8 8 0 0 0-11.28 11.28l40.88 40.88a8 8 0 0 0 11.28-11.28zM215.88 0a8 8 0 0 0-8 8v57.84a8 8 0 0 0 8 8.24 8 8 0 0 0 8-8V8a8 8 0 0 0-8-8z" />
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>1.creative ideas</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="chain__item">
                        <div class="process__svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 425.2 425.2" width="40" height="58">
                                <path
                                    d="M218.407 88.8h12c4.4 0 8-3.6 8-8s-3.6-8-8-8h-12c-4.4 0-8 3.6-8 8s3.6 8 8 8zM210.407 152.8c-22 0-40 18-40 40s18 40 40 40 40-18 40-40-18-40-40-40zm0 64c-13.2 0-24-10.8-24-24s10.8-24 24-24 24 10.8 24 24-10.8 24-24 24z" />
                                <path
                                    d="M354.807 415.6l-12-65.6c-3.2-17.2-13.6-31.2-28.4-39.2l-22.8-12.4c7.2-27.2 11.2-55.6 11.2-84v-10.8c0-60.8-18.8-118.8-54.4-168.8l-18-24.8c-4.4-6.4-11.6-10-19.6-10-7.6 0-14.8 3.6-19.6 10l-18 24.8c-35.2 49.2-54.8 109.2-54.8 169.2v10.8c0 28.8 4 57.6 11.6 85.6l-19.2 10.4c-14.8 8-25.2 22-28.4 39.2l-12 65.2c-.4 3.2.8 6.8 4 8.4 1.2.8 2.8 1.2 4 1.2 2 0 3.6-.8 5.2-2l33.6-28.8c12.8-11.2 29.6-17.2 46.8-17.2h26.4v26c0 12 10 22 22 22s22-10 22-22v-26.4h4.4c1.2.4 2.4.8 3.6.8h18.8c17.2 0 34 6 46.8 17.2l33.6 28.8c1.6 1.2 3.2 2 5.2 2 1.2 0 2.8-.4 4-1.2 2.8-1.6 4.4-4.8 4-8.4zm-248-33.6l-16.4 14.4 7.6-43.2c2.4-12.4 9.6-22.4 20.4-28l16-8.8 9.6 32c1.6 5.2 4 9.6 7.2 13.6-16.4 2.4-32 9.2-44.4 20zm111.6 20.8c0 3.2-2.8 6-6 6s-6-2.8-6-6v-84c0-3.2 2.8-6 6-6s6 2.8 6 6v84zm20-42.4h-4v-41.6c0-12-10-22-22-22s-22 10-22 22v42h-8c-10.8 0-20-7.2-23.2-17.2l-12-40.4c-8.4-28.8-12.8-58.4-12.8-88.4V204c0-39.6 8.8-79.2 25.6-115.2h30.4c4.4 0 8-3.6 8-8s-3.6-8-8-8h-22c5.2-10 11.2-19.2 18-28.4l18-24.8c1.6-2 4-3.2 6.4-3.2 2.8 0 4.8 1.2 6.4 3.2l18 24.8c33.6 46.8 51.2 102 51.2 159.2v10.8c0 30-4.4 60-12.8 88.4l-12 40.4c-3.2 10.4-12.4 17.2-23.2 17.2zm80 22c-13.6-11.6-30.8-18.8-48.8-20.8 3.2-4 5.6-8.4 7.2-13.6l10-33.6 19.6 10.8c10.4 5.6 18 16 20.4 28l8 43.2-16.4-14z" />
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>2.rapid solution</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="chain__item">
                        <div class="process__svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="40" height="58">
                                <path
                                    d="M477.04 281.787a8.001 8.001 0 0 0-5.035-1.787H340.517a128.778 128.778 0 0 0-36.512-21.6V88h16V72h-120v16h16v170.28a120.638 120.638 0 0 0-73.4 73.848l-6.6-13.928V208h16v-16h-104v16h16v110.4L.629 468.896A8 8 0 0 0 8.005 480h448a8 8 0 0 0 8-8V310.552l14.208-17.512a8.001 8.001 0 0 0-1.173-11.253zM20.053 464l26.952-64h41v-16H53.741l25.64-60.896c.41-.984.622-2.038.624-3.104V208h40v112a8.044 8.044 0 0 0 .8 3.424L149.469 384h-13.464v16h21.04l30.32 64H20.053zm291.952-176v64h-104v16h104v96H205.069l-51.68-109.104c6.398-39.441 34.748-71.77 73.016-83.264a8 8 0 0 0 5.6-7.632V88h56v176a8 8 0 0 0 5.448 7.584 114.417 114.417 0 0 1 21.904 10.08 7.84 7.84 0 0 0-3.352 6.336zm137.792 14.688a7.998 7.998 0 0 0-1.792 5.04V464h-120V296h127.2l-5.408 6.688z" />
                                <path
                                    d="M360.005 432h56v16h-56zM376.005 400h24v16h-24zM360.005 368h56v16h-56zM376.005 336h24v16h-24zM221.029 296.568a81.072 81.072 0 0 0-50.304 65.192l15.872 1.984a65.041 65.041 0 0 1 40.384-52.312l-5.952-14.864zM104.005 384h16v16h-16zM232.005 420a4 4 0 1 1-4-4v-16c-11.046 0-20 8.954-20 20s8.954 20 20 20 20-8.954 20-20h-16zM24.005 20a4 4 0 1 1-4-4V0c-11.046 0-20 8.954-20 20s8.954 20 20 20 20-8.954 20-20h-16zM304.005 8V0h-16v8h-8v16h8v8h16v-8h8V8zM117.661 125.656l-11.312-11.312-6.344 6.344-6.344-6.344-11.312 11.312L88.693 132l-6.344 6.344 11.312 11.312 6.344-6.344 6.344 6.344 11.312-11.312-6.344-6.344zM477.661 157.656l-11.312-11.312-6.344 6.344-6.344-6.344-11.312 11.312 6.344 6.344-6.344 6.344 11.312 11.312 6.344-6.344 6.344 6.344 11.312-11.312-6.344-6.344z" />
                                <circle cx="152.005" cy="8" r="8" />
                                <circle cx="432.005" cy="216" r="8" />
                                <circle cx="136.005" cy="432" r="8" />
                                <circle cx="264.005" cy="392" r="8" /></svg>
                        </div>
                        <div class="svg__desc">
                            <span>3.magic touch</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">
                    <div class="chain__item">
                        <div class="process__svg">
                            <svg width="40" height="58" viewBox="-32 0 511 512">
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M446.648 426.023L383.172 299.06c20.777-30.645 32.93-67.59 32.93-107.325C416.102 86.012 330.09 0 224.367 0 118.645 0 32.633 86.012 32.633 191.734c0 39.735 12.152 76.684 32.933 107.332L2.082 426.023a15.007 15.007 0 0 0 .656 14.594 15.008 15.008 0 0 0 12.762 7.117h72.832l43.7 58.266c2.85 3.797 7.304 6 12 6 6.222 0 11.124-3.71 13.417-8.293l60.188-120.371c2.234.078 4.476.133 6.73.133 2.254 0 4.496-.055 6.73-.133l60.188 120.371c2.285 4.574 7.192 8.293 13.418 8.293a15 15 0 0 0 11.996-6l43.703-58.266h72.832c5.2 0 10.028-2.695 12.758-7.117a14.987 14.987 0 0 0 .656-14.594zm-305.175 42.559l-33.641-44.848a14.996 14.996 0 0 0-12-6H39.77l46.546-93.086c26.43 27.438 60.93 47.051 99.645 54.954zm-78.84-276.848C62.633 102.554 135.187 30 224.367 30s161.735 72.555 161.735 161.734S313.547 353.47 224.367 353.47 62.633 280.914 62.633 191.734zm290.265 226a15.007 15.007 0 0 0-12 6l-33.636 44.848-44.492-88.98c38.718-7.907 73.222-27.516 99.652-54.961l46.539 93.09h-56.063zm0 0" />
                                <path
                                    d="M300.938 216.613l41.89-50a15 15 0 0 0-7.855-24.184l-63.278-15.827-34.613-55.293a14.998 14.998 0 0 0-25.43 0l-34.605 55.293-63.274 15.828a15 15 0 0 0-10.628 9.914 15.007 15.007 0 0 0 2.77 14.27l41.89 50-4.508 65.066a15.008 15.008 0 0 0 6.144 13.172c6.348 4.613 12.805 2.43 14.426 1.777l60.5-24.383 60.5 24.387a15.002 15.002 0 0 0 20.57-14.95zm-26.88-14.633a14.99 14.99 0 0 0-3.464 10.668l3.261 47.2-43.878-17.688c-4.864-1.96-9.13-.844-11.215 0l-43.88 17.688 3.27-47.196a15.021 15.021 0 0 0-3.468-10.672L144.3 165.72l45.894-11.48a14.993 14.993 0 0 0 9.075-6.594l25.101-40.106 25.106 40.106a14.993 14.993 0 0 0 9.074 6.593l45.894 11.48zm0 0" />
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>4.award winning</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project__section wow slideInUp" data-wow-duration="2s">
        <a name="project__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>our recent projects</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row section__body">
                <div class="col-lg-4 col-md-12 section__body__item wow slideInUp" data-wow-duration="2s"
                    data-wow-delay="0.2s">
                    <div class="item__img">
                        <img src="/images/disk__cover.png" alt="disc cover">
                    </div>
                    <div class="card__title">
                        <span>Disk cover mockup</span>
                    </div>
                    <div class="title__desc">
                        <span>Music, PSD, Mockups</span>
                    </div>
                    <div class="card__body">
                        <span>Nulla libero un pharetra augue etiam malesuada magna mollis. Nullam id dolor id nibh
                            ultricies.</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 section__body__item wow slideInUp" data-wow-duration="2s"
                    data-wow-delay="0.3s">
                    <div class="item__img">
                        <img src="/images/JohnDoe.png" alt="JohnDoe">
                    </div>
                    <div class="card__title">
                        <span>John Doe business card</span>
                    </div>
                    <div class="title__desc">
                        <span>Corporate Card</span>
                    </div>
                    <div class="card__body">
                        <span>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod erat a ante.</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 section__body__item wow slideInUp" data-wow-duration="2s"
                    data-wow-delay="0.4s">
                    <div class="item__img">
                        <img src="/images/infographic.png" alt="JohnDoe">
                    </div>
                    <div class="card__title">
                        <span>Infographic Elements</span>
                    </div>
                    <div class="title__desc">
                        <span>Element, Graphic</span>
                    </div>
                    <div class="card__body">
                        <span>Euismod quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus
                            commodo.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="customer__section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span class="clr__light">what our customer think</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <div class="customer__tagline">
                        <span>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis
                            interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at
                            eget
                            metus. </span>
                    </div>
                    <div class="title__desc">
                        <span>BARCLAY WIDERSKI</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="journal__section wow slideInUp" data-wow-duration="2s">
        <a name="journal__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>from the journal</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row section__body">
                <% posts.forEach(function(post){ %>
                <div class="col-lg-4 col-md-12 section__body__item">
                    <div class="item__img">
                        <img src="<%= post.img %>" alt="disc cover">
                    </div>
                    <div class="post__top">
                        <div class="post__date">
                            <span class="date__num"><%= post.date_day %></span>
                            <br>
                            <span class="date__mon"><%= post.date_mon %></span>
                        </div>
                        <div class="post__title text-left">
                            <div class="card__title__camel">
                                <span><%= post.title %></span>
                            </div>
                            <div class="title__desc">
                                <span><%= post.title_desc %></span>
                            </div>
                        </div>
                    </div>
                    <div class="card__body text-left">
                        <span><%= post.post_body %></span>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
</div>

<%- include layouts/footer %>