<% include layouts/head %>

<script>
    window.onload = function () {
        document.getElementById('cube-loader').style.display = 'none';
        document.body.style.overflow = 'visible';
    }
</script>
<div id="cube-loader">
    <div class="caption">
        <div class="cube-loader">
            <div class="cube loader-1"></div>
            <div class="cube loader-2"></div>
            <div class="cube loader-4"></div>
            <div class="cube loader-3"></div>
        </div>
    </div>
</div>

<header>
    <% include partials/nav %>
</header>

<div class="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <span class="banner__title">Hello! We are Loom Studio</span>
                        <br />
                        <span class="banner__desc">a creative media agency that believes in the power of creative
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider">
                        <div class="peppermint peppermint-inactive" id="peppermint">
                            <figure><img src="/images/slider.png" alt="" /></figure>

                            <figure><img src="/images/slide2.png" alt="" /></figure>

                            <figure><img src="/images/slide3.png" alt="" /></figure>
                        </div>
                        <div class="next"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                        <div class="prev"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doing__section wow fadeInUp" data-wow-duration="2s">
        <a name="doing__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>what we do</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/printer.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>print design</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/tv.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>motion video</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/gift.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>package design</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="card">
                        <div class="card__logo">
                            <object type="image/svg+xml" data="/images/clock.svg">
                                Your browser does not support SVG
                            </object>
                        </div>
                        <div class="card__title">
                            <span>time management</span>
                        </div>
                        <div class="card__body">
                            <span>Nulla vitae libero pharetra augue. Etiam porta malesuada magna
                                mollis euismod consectetur sem urdom tempus porttitor.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="process__section wow fadeInUp" data-wow-duration="2s">
        <a name="process__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span class="clr__light">our process</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 section__title__desc">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Integer posuere erat a ante venenatis
                        dapibus posuere velit aliquet. Maecenas sed diam eget risus varius
                        blandit sit amet non magna posuere velit aliquet.</span>
                </div>
            </div>
            <div class="row process__svg__chain">
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="chain__item">
                        <div class="process-svg__elem">
                            <svg viewBox="0 0 431.76 431.76" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                preserveAspectRatio="xMinYMin">
                                <use xlink:href="#img-lamp"></use>
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>1.creative ideas</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="chain__item">
                        <div class="process-svg__elem">
                            <svg viewBox="0 0 425.2 425.2" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                preserveAspectRatio="xMinYMin">
                                <use xlink:href="#img-rocket"></use>
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>2.rapid solution</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="chain__item">
                        <div class="process-svg__elem">
                            <svg viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                preserveAspectRatio="xMinYMin">
                                <use xlink:href="#img-chemistry"></use>
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>3.magic touch</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">
                    <div class="chain__item">
                        <div class="process-svg__elem">
                            <svg viewBox="-32 0 511 512" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                preserveAspectRatio="xMinYMin">
                                <use xlink:href="#img-badge"></use>
                            </svg>
                        </div>
                        <div class="svg__desc">
                            <span>4.award winning</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project__section wow fadeInUp" data-wow-duration="2s">
        <a name="project__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>our recent projects</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row section__body">
                <div class="col-lg-4 col-md-12 section__body__item wow fadeInUp" data-wow-duration="2s"
                    data-wow-delay="0.2s">
                    <div class="item__img">
                        <img src="/images/disk__cover.png" alt="disc cover">
                    </div>
                    <div class="card__title">
                        <span>Disk cover mockup</span>
                    </div>
                    <div class="title__desc">
                        <span>Music, PSD, Mockups</span>
                    </div>
                    <div class="card__body">
                        <span>Nulla libero un pharetra augue etiam malesuada magna mollis. Nullam id dolor id nibh
                            ultricies.</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 section__body__item wow fadeInUp" data-wow-duration="2s"
                    data-wow-delay="0.3s">
                    <div class="item__img">
                        <img src="/images/JohnDoe.png" alt="JohnDoe">
                    </div>
                    <div class="card__title">
                        <span>John Doe business card</span>
                    </div>
                    <div class="title__desc">
                        <span>Corporate Card</span>
                    </div>
                    <div class="card__body">
                        <span>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod erat a ante.</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 section__body__item wow fadeInUp" data-wow-duration="2s"
                    data-wow-delay="0.4s">
                    <div class="item__img">
                        <img src="/images/infographic.png" alt="JohnDoe">
                    </div>
                    <div class="card__title">
                        <span>Infographic Elements</span>
                    </div>
                    <div class="title__desc">
                        <span>Element, Graphic</span>
                    </div>
                    <div class="card__body">
                        <span>Euismod quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus
                            commodo.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="customer__section wow fadeInUp" data-wow-duration="2s">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span class="clr__light">what our customer think</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <div class="customer__tagline wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">
                        <span>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis
                            interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at
                            eget
                            metus. </span>
                    </div>
                    <div class="title__desc wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">
                        <span>BARCLAY WIDERSKI</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="journal__section wow fadeInUp" data-wow-duration="2s">
        <a name="journal__section"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title">
                        <img src="/images/title_line.svg" alt="" />
                        <span>from the journal</span>
                        <img src="/images/title_line.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row section__body">
                <% posts.forEach(function(post){ %>
                <div class="col-lg-4 col-md-12 section__body__item">
                    <div class="item__img">
                        <img src="<%= post.img %>" alt="disc cover">
                    </div>
                    <div class="post__top">
                        <div class="post__date">
                            <span class="date__num"><%= post.date_day %></span>
                            <br>
                            <span class="date__mon"><%= post.date_mon %></span>
                        </div>
                        <div class="post__title text-left">
                            <div class="card__title__camel">
                                <span><%= post.title %></span>
                            </div>
                            <div class="title__desc">
                                <span><%= post.title_desc %></span>
                            </div>
                        </div>
                    </div>
                    <div class="card__body text-left">
                        <span><%= post.post_body %></span>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
</div>
<%- include partials/svg %>
<%- include layouts/footer %>